# Virtual Environment
.venv/

# Compiled Python files
__pycache__/
*.pyc

# Docker-specific files
.dockerignore # If you have a separate .dockerignore

# IDE or Editor files
.idea/
.vscode/

# Local development settings (should not be shared)
local.settings.json
